name: Build

on:
  push:
    branches: master
    tags: '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core 3.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.101
    - name: Build
      run: dotnet build src/UnrealTools.sln --configuration Release 
    - name: Test
      run: dotnet test src/UnrealTools.sln --no-build --configuration Release
  pack:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.101
    - name: Pack
      run: dotnet pack src/UnrealTools.sln --output ./artifacts --configuration Release
    - uses: actions/upload-artifact@v1
      with:
        name: artifacts
        path: ./artifacts
  publish:
    runs-on: windows-latest
    needs: pack
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
    - uses: NuGet/setup-nuget@v1.0.2
    - name: Add nuget source
      run: nuget sources add -name "github" -Source "https://nuget.pkg.github.com/UnrealTools/index.json" -Username jesterret -Password ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/download-artifact@v1
      with:
        name: artifacts
        path: ./artifacts
    - name: Publish packages
      run: nuget push ./artifacts/**.nupkg -Source "github"
